:root {
  --primary-color: #000;
  --secondary-color: #595959;
  --bg-color: #e5e5e5;
  --font-family: 'Montserrat', sans-serif;
  --font-size-large: 45px;
  --font-size-medium: 22px;
  --font-size-small: 16px;
}

body {
  font-family: var(--font-family);
  background-color: var(--bg-color);
  padding: 40px;
}

a {
  text-decoration: none;
  transition: color 0.3s;
}

.wrapper {
  display: flex;
  flex-direction: row-reverse;
  background: #fff;
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Main Content*/

.main-content {
  padding: 72px 72px 60px 60px;
}

.main-content-title {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #000000;
  margin: 0;
}

/* About Me */

.my-name {
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 55px;
  color: #000000;
  margin: 0 0 28px 0;
}

.my-profession {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 17px;
  color: #000000;
  margin: 0 0 18px 0;
}

.my-summary {
  margin-top: 20px;
  background-color: #b1dcff1f;
  font-size: var(--font-size-small);
  line-height: 1.6;
  color: var(--primary-color);
}

.my-descr {
  font-style: normal;
  font-weight: 400;
  font-size: var(--font-size-small);
  line-height: 24px;
  color: #595959;
}

.about-me-container {
  margin-bottom: 32px;
}

/* Projects */

.project-item,
.work-duties {
  font-size: var(--font-size-small);
  line-height: 1.6;
  color: var(--primary-color);
}

.project-item-link:hover {
  color: #6d9bf5;
  text-decoration: underline;
}

.project-item-link:focus {
  color: #ff00a6;
  text-decoration: underline;
}

.project-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.project-item:not(:last-child) {
  margin-bottom: 8px;
}

.projects-container {
  margin-bottom: 32px;
}

.project-item-descr {
  font-style: normal;
  font-weight: 400;
  font-size: var(--font-size-small);
  line-height: 24px;
  color: #595959;
}

.project-item-link {
  font-style: normal;
  font-weight: 400;
  font-size: var(--font-size-small);
  line-height: 24px;
  text-decoration: underline;
  color: #595959;
}

/* Work Experience */

.work-experience-container {
  margin-bottom: 60px;
}

.work-experience-position {
  font-style: normal;
  font-weight: 700;
  font-size: var(--font-size-small);
  line-height: 20px;
  color: #000000;
  margin: 0;
}

.work-experience-place {
  margin-bottom: 16px;
}

.work-experience-company {
  color: #6d9bf5;
}

.work-period {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #a8a8a8;
  margin: 8px 0 8px 0;
}

.work-duties {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

.work-duties-list {
  padding: 0 0 0 16px;
  margin: 0;
}

/* Soft Skills */
.soft-skills-container {
  /* margin-top: 28px; */
  background-color: #b1dcff1f;
  font-size: var(--font-size-small);
  line-height: 24px;
  color: #595959;
}

.soft-skills-list {
 padding: 0 0 0 16px;
  margin: 0;
}

/* .soft-skills-list-item {
  font-style: normal;
  font-weight: 400;
  font-size: var(--font-size-small);
  line-height: 24px;
  color: var(--secondary-color);
  margin-bottom: 8px;
} */

.soft-skills-list-item:hover {
  color: #6d9bf5;
}

/* Sidebar */

.sidebar {
  background: #b1dcff1f;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.my-photo {
  margin-top: 40px;
}

/* Contacts */

/* .contacts-type {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #161d2a;
  margin-right: 8px;
} */

.contacts-item {
  margin: 0;
}

.contacts-number:hover,
.contacts-email:hover {
  color: #6d9bf5;
}

.contacts-number:focus,
.contacts-email:focus {
  color: #ff00a6;
}

.contacts-number {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #161d2a;
}

.contacts-email {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #161d2a;
}

.info-container,
.contacts-container,
.education-container,
.tech-skills-container,
.languages-container {
  margin-top: 36px;
  margin-left: 24px;
}

.sidebar-title {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #161d2a;
  margin-bottom: 8px;
}

/* Education */

.education-university {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #6d9bf5;
  margin: 0 0 12px 0;
}

.education-specialization {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 17px;
  color: #000000;
  margin: 0 0 2px 0;
}

.education-period {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 15px;
  color: #000f84;
}

/* Skills */

.skills-list {
  margin: 0;
  padding: 0 0 0 20px;
}

.skills-list-item {
  color: #6d9bf5;
}

.skills-list-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #161d2a;
}

@media (max-width: 768px) {
  .wrapper {
    flex-direction: column;
    width: 100%;
    padding: 20px;
  }

  .main-content,
  .sidebar {
    padding: 20px;
  }

  .my-name {
    font-size: 30px;
  }
}
